:root {
	/* All the CSS variables here are global */
	/* These applies to all colorschemes */

	/* If windows - `-moz-win-glass`, if macOS - `-moz-mac-vibrancy-dark` */
	--bf-moz-appearance: -moz-win-glass !important;

	--bf-backdrop-blur: 6px;

	--bf-sidebar-searchbar-radius: 6px;

	--bf-accent-bg: #4C5FF9CC;
	--bf-blank-page-bg: #252525;
	
	--bf-urlbar-hightlight-bg: var(--bf-accent-bg);
	--bf-urlbar-radius: 9px;
	--bf-urlbar-results-font-size: 12pt;
	--bf-urlbar-results-font-weight: 550;
	--bf-urlbar-font-size: 12pt;
	--bf-urlbar-font-weight: 500;
	--bf-urlbar-switch-tab-color: #6498EF;
	--bf-urlbar-bookmark-color: #53E2AE;
	
	--bf-navbar-padding: 6px;
	
	--bf-tab-selected-bg: #77777788;
	--bf-tab-font-size: 11pt;
	--bf-tab-font-weight: 400;
	--bf-tab-height: 36px;
	--bf-tab-border-radius: 6px;
	--bf-tab-soundplaying-bg: #985EFFCC;

	--toolbar-bgcolor: transparent !important;
	--urlbar-separator-color: transparent !important;
}

/* Light Mode */
:root:-moz-lwtheme-brighttext {
	--bf-main-window: #282828;
	--bf-bg: var(--bf-main-window);
	--bf-color: #f2f2f2;
	
	--bf-hover-bg: #f2f2f233;
	--bf-active-bg: #f2f2f266;
	
	--bf-icon-color: #f2f2f2;
	--bf-tab-toolbar-bg: var(--base-bg);
	--bf-tab-selected-bg: #b16286;
	--bf-navbar-bg: #b16286;
	--bf-urlbar-bg: #d3869b;
	--bf-urlbar-active-bg: #2F2F2F;
	--bf-urlbar-focused-color: var(--bf-color);
	
	--bf-sidebar-bg: var(--bf-bg);
	--bf-sidebar-color: var(--bf-color);
	
	--bf-menupopup-bg: #0A0A0AEE;
	--bf-menupopup-color: var(--bf-color);
}

/* Dark Mode */
:root:-moz-lwtheme-darktext {
	--bf-main-window: #282828;
	--bf-bg: var(--bf-main-window);
	--bf-color: #F2F2F2;
	
	--bf-hover-bg: #83a598;
	--bf-active-bg: #8ec07c;
	
	--bf-icon-color: #F2F2F2;
	--bf-tab-toolbar-bg: var(--base-bg);
	--bf-tab-selected-bg: #b16286;
	--bf-navbar-bg: #ebdbb2;
	--bf-urlbar-bg: #689d6a;
	--bf-urlbar-active-bg: #2F2F2F;
	--bf-urlbar-focused-color: var(--bf-color);
	
	--bf-sidebar-bg: var(--bf-bg);
	--bf-sidebar-color: var(--bf-color);
	
	--bf-menupopup-bg: #0A0A0AEE;
	--bf-menupopup-color: var(--bf-color);
}
